extends shared/layout
block main-content
    h1 Welcome to YouTube Playlist

    h2 Most popular playlists:
        each playlist in playlists
            p Title : #{playlist.title}
                p Description: #{playlist.description}
                p  Creator: #{playlist.creator}
                p Rating: #{playlist.rating}
                br